[submodule "calendar"]
	path = calendar
	url = https://github.com/nextcloud/calendar.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/nextcloud/server.git
[submodule "dav"]
	path = dav
	url = https://github.com/sabre-io/dav.git
[submodule "vobject"]
	path = vobject
	url = git@github.com:sabre-io/vobject.git
[submodule "circles"]
	path = circles
	url = https://github.com/nextcloud/circles.git
[submodule "files_fulltextsearch"]
	path = files_fulltextsearch
	url = https://github.com/nextcloud/files_fulltextsearch.git
[submodule "ical.js"]
	path = ical.js
	url = https://github.com/kewisch/ical.js.git
[submodule "calendar-js"]
	path = calendar-js
	url = https://github.com/nextcloud/calendar-js.git
[submodule "files_mindmap"]
	path = files_mindmap
	url = https://github.com/onny/files_mindmap.git
